<div>
    <div>
        <img class="img-responsive" src="assets/image/RequestAccess1234.png">
    </div>
    <div class="text-center"> <span class="subHeadColor">re</span><span class="regularFamily headColor">Q</span></div>
    <div class="boldFamily text-center">
        <h2 class="headColor">Real Estate Investing Information <br> That Matters to You.</h2>
    </div>
    <div class="regularFamily text-center textGrey mt-2">Limited to the San Francisco Bay Area - Join Our BETA!</div>
    <div class="text-center  mt-2"> <button class="mt-2 btn mt btn-outline-danger btn-sm text-uppercase"
            (click)="goToSignUp()">Sign Up With
            Linkedin</button></div>
    <div class="regularFamily text-center mt-2 textGrey">SIGN IN</div>
</div>